[submodule "monedero--contracts/lib/forge-std"]
	path = monedero--contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "monedero--contracts/lib/openzeppelin-contracts"]
	path = monedero--contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "monedero--contracts/lib/aave-v3-origin"]
	path = monedero--contracts/lib/aave-v3-origin
	url = https://github.com/aave-dao/aave-v3-origin
[submodule "lib/aave-v3-origin"]
	branch = main
